<!DOCTYPE html>
<html lang="en">
<link href="../assets/css/theme.css" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->



        <h5 class="text-uppercase mt-3 mb-4">MISSION</h5>
        <p style="color: #FFFFFF;">Accelerate the development and availability of transformative technologies and
          approaches to protect Americans from health security threats.</p>
        <img class="img-centered img-fluid " alt="DRIVe Logo" style="max-height: 80px; padding-top: 20px"
          src="assets/images/drive-logo-white.png"><br>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto social_img">
        <h5 class="text-uppercase mt-3 mb-4">FOLLOW US</h5>
        <a href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fdrive.hhs.gov%2Fimpactareas.html&ref_src=twsrc%5Etfw&screen_name=BARDA&tw_p=followbutton"
          target="_blank" data-show-count="false"><img title="Follow BARDA on Twitter"
            src="assets/images/twitter_rev_icon.png" width="25" height="20" alt="Follow BARDA on Twitter" /></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a href="https://www.linkedin.com/showcase/barda/" target="_blank" data-show-count="false"><img
            title="Follow BARDA on LinkedIn" src="assets/images/linkedin_rev_icon.png" width="25" height="26"
            alt="Follow BARDA on LinkedIn" /></a> <a href="https://cloud.connect.hhs.gov/drive" target="_blank"
          data-show-count="false"></a>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-2 mx-auto">
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="text-uppercase mt-3 mb-4">Resources</h5>
        <ul class="list-unstyled">
          <li>
            <a target="_blank" href="privacypolicy.html">Privacy Policy</a>
          </li>
          <li>
            <a target="_blank" href="disclaimers.html">Website Disclaimers</a>
          </li>
          <li> <a target="_blank" href="http://www.hhs.gov/asa/eeo/resources/index.html">No Fear Act</a></li>
          <li> <a target="_blank" href="http://www.usa.gov/">USA.gov</a></li>
          <li> <a target="_blank" href="http://www.whitehouse.gov/">White House</a></li>
          <li> <a target="_blank" href="http://www.hhs.gov/foia/">FOIA</a></li>
          <li> <a target="_blank" href="https://www.hhs.gov/plugins.html">Viewers & Players</a></li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->



  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Sign up for the newsletter</h5>
    </li>
    <li class="list-inline-item">
      <a target="_blank" href="https://cloud.connect.hhs.gov/drive" class="btn btn_newsletter btn-rounded">Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>



  <!-- Copyright -->
  <div style="background-color: #000000;" class="footer-copyright text-center py-3">This is an official U.S. Government
    Web site managed by the U.S. Department of Health &amp; Human Services. <br />
    <hr /><a href="mailto:DRIVeWebmaster@hhs.gov">Contact Webmaster</a><br>
  </div>
  <!-- Copyright -->
  <!-- Footer --------->
</footer>

</html>