<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Untitled Document</title>
	<style>
		.menu-list {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			margin-top: 50px;
		}
	</style>
</head>
<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:rgba(255,255,255,0.9); padding-top: 0px">
		<div style="padding-right: 30px;" class="fixed-top topbar row">
			<div class="ml-auto"><img alt="HHS logo" height="20px" style="margin-right: 7px;" src="assets/images/HHS-Logo.png">
			</div>
			<div>
				<p>
					<a target="_blank" href="https://www.hhs.gov/">U.S. Department of Health & Human Services</a> |
					<a target="_blank" href="https://www.phe.gov/preparedness/pages/default.aspx">Assistant Secretary
						for Preparedness and Response</a> | <a target="_blank"
						href="https://medicalcountermeasures.gov/">Biomedical Advanced Research and Development
						Authority
					</a> 
				</p>
			</div>
		</div>

		<div class="menu-list">
			<a class="navbar-brand" href="index.html" title="Go to home page">
				<img style="width: 186px; height: 75px;" src="assets/images/DRIVeLogo_Hirez.png" alt="DRIVe logo" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="awardees.html">DRIVe Awardees</a>
					</li>
					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="about.html" id="navbarDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="about.html">About</a>
							<a class="dropdown-item" href="team.html">DRIVe Team</a>
							<a class="dropdown-item" href="solvingsepsis.html">Solving Sepsis</a>
							<a class="dropdown-item" href="enact.html">ENACT</a>
						</div>
					</li>
					<li class="nav-item"><a class="nav-link" href="map.html">Portfolio</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="accelerators.html">Accelerators</a></li>
					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Partner With
							Us</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="partner.html?id=partneringApproaches">Partnering
								Approaches</a>
							<a class="dropdown-item" href="resources.html">Resources</a>
							<a class="dropdown-item" href="ventures.html">Ventures</a>

						</div>
					</li>

					<li class="nav-item"><a class="nav-link" href="news.html">News</a>
					</li>
					<li class="nav-item"><span class="org-header-logo-big">
							<a target="_blank" class="nav-link" href="https://hhs.gov"> </a>
						</span></li>
					<li class="nav-item"><span class="org-header-logo"> <a target="_blank" class="nav-link"
								href="https://phe.gov">
							</a>
						</span></li>
					<li class="nav-item"><span class="org-header-logo"> <a target="_blank" class="nav-link"
								href="https://medicalcountermeasures.gov/">
							</a>
						</span></li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>